body {
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  /*
  background-image: linear-gradient(to right top, #030209, #070514, #0a081b, #0c0c22, #0a0f2a);
  */
background-image: linear-gradient(90deg, rgba(42,43,47,1) 35%, rgba(53,49,51,1) 72%, rgba(84,113,111,1) 100%);
}
